# Spring Boot específico
HELP.md
target/
!.**/src/main/**/target/
!.**/src/test/**/target/
.mvn/wrapper/maven-wrapper.jar

### STS / VS Code / IntelliJ ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.vscode/
.idea
*.iws
*.iml
*.ipr

### Arquivos Compilados e Logs ###
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Crash logs
hs_err_pid*
replay_pid*